registry=https://trialp4acdd.jfrog.io/artifactory/api/npm/danjfrog-npm/
//trialp4acdd.jfrog.io/artifactory/api/npm/danjfrog-npm/:_auth=c21hc2hpbmdfaGFsb0Bob3RtYWlsLmNvbTpjbVZtZEd0dU9qQXhPakUzTmprNU9EUXhNamM2VUZGRFlUWTNaVVJ2WTJOMFZteDZlbmxSZDI1RFVWUlBOalpx
always-auth=true
